/*Use a more-intuitive box-sizing model.*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Remove default margin*/
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}



/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/*Add accessible line-height 
Improve text rendering*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*Improve media defaults*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}


/*Avoid text overflows*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

*,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
}
}